notes-node/node_modules
notes-node/package-lock.json
.DS_STORE
notes-node/notes-data.json

weather-app/node_modules
weather-app/package-lock.json

node-web-server/node_modules
node-web-server/package-lock.json
node-web-server/server.log
